<% include ./header %>
<body>
      <div class=container>
          <div class=masthead>
              <h3 class=text-muted>All Star Pump</h3>
              <div role=navigation>
                  <ul class="nav nav-justified">
                      <li><a href=#>新增</a>
                          <li><a href=#>查詢</a>
                  </ul>
              </div>
          </div>
          <div class=jumbotron>
          </div>
          <h2>廠商A</h2>
          <table border=1 bordercolor=#003366 width=1100>
              <tr>
                  <th> 零件代碼</th>
                  <th> 零件名稱</th>
                  <th> 零件數量</th>
                  <th>模具借出時間</th>
                  <th>模具應歸還時間</th>
                  <th>廠商名稱</th>
                  <th>廠商負責人</th>
                  <th>廠商電話</th>
                  <th>廠商地址</th>
                  <th>修改</th>
                  <th>刪除</th>
              </tr>
              <% list.foreach(function(row) %>
              <tr><% row.xxx %></tr>

              <%>%>

          </table>
      </div>
      </form>

      </div>
      </div>
