<% include ./header %>
    <div class=row>
        <div class=col-lg-3>
            <h2>模具</h2>
            <p style="color:red"><%=statusM %></p>
            <form action="/add/module" method="POST" novalidate>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>模具機型</label>
                        <input type="text" class="form-control" id="moduleId" name="moduleId">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>模具用途</label>
                        <input type="text" class="form-control" id="moduleUsage" name="moduleUsage">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>模具數量</label>
                        <input type="text" class="form-control" id="moduleQuantity" name="moduleQuantity">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>目前位置</label>
                        <input type="text" class="form-control" id="currentLocation" name="currentLocation">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <input type="submit" value="送出&raquo;" />
            </form>
        </div>
        <div class=col-lg-3>
            <h2>廠商A</h2>
            <p style="color:red"><%=statusA %></p>
            <form action="/add/acom" method="POST" novalidate>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>零件代碼</label>
                        <input type="text" class="form-control" name="componentID">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>零件名稱</label>
                                <input type="text" class="form-control" name="componentName">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>零件數量</label>
                                <input type="text" class="form-control" name="componentQuantity">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>模具借出時間</label>
                                <input type="text" class="form-control" name="lendOT">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>模具應歸還時間</label>
                                <input type="text" class="form-control" name="returnT">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>廠商名稱</label>
                                <input type="text" class="form-control" name="firmName">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>廠商負責人</label>
                                <input type="text" class="form-control" name="personIC">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>廠商電話</label>
                                <input type="text" class="form-control" name="phoneNo">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>廠商地址：</label>
                                <input type="text" class="form-control" name="address">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <input id="module" type="submit" value="送出&raquo;" />
            </form>
            </div>
            <div class=col-lg-4>
                <h2>廠商B</h2>
                <form>
                    馬達型號：
                    <input type="text" name="欄位名稱">
                </form>
                <form>
                    馬達用途：
                    <input type="text" name="欄位名稱">
                </form>
                <form>
                    馬達數量：
                    <input type="text" name="欄位名稱">
                </form>
                <form>
                    馬達流量：
                    <input type="text" name="欄位名稱">
                </form>
                <form>
                    馬達形式：
                    <input type="text" name="欄位名稱">
                </form>
                <form>
                    馬達類型：
                    <input type="text" name="欄位名稱">
                </form>
                <form>
                    廠商名稱：
                    <input type="text" name="欄位名稱">
                </form>
                <form>
                    廠商負責人：
                    <input type="text" name="欄位名稱">
                </form>
                <form>
                    廠商電話：
                    <input type="text" name="欄位名稱">
                </form>
                <form>
                    廠商地址：
                    <input type="text" name="欄位名稱">
                </form>
                <a class="btn btn-primary" href=# role=button>送出&raquo;</a>
            </div>
            </div>
        </div>
