<% include ./header %>
    <div class=row>
        <div class=col-lg-3>
            <h2>模具</h2>
            <p style="color:red"><%=statusM %></p>
            <form action="/add/module" method="POST" novalidate>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>模具機型</label>
                        <input type="text" class="form-control"  name="moduleId">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>廠商A名稱</label>
                        <input type="text" class="form-control"  name="acompanyName">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>模具用途</label>
                        <input type="text" class="form-control"  name="moduleUsage">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>模具數量</label>
                        <input type="text" class="form-control"  name="moduleQuantity">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>模具總數</label>
                        <input type="text" class="form-control"  name="quantityOwned">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
        </div>
        <div class=col-lg-3>
            <h2>廠商A</h2>
            <p style="color:red"><%=statusA %></p>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>零件代碼</label>
                        <input type="text" class="form-control" name="componentId">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>零件名稱</label>
                                <input type="text" class="form-control" name="componentName">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>零件數量</label>
                                <input type="text" class="form-control" name="componentQuantity">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>模具借出時間</label>
                                <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="lendOT">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>模具應歸還時間</label>
                                <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="returnT">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>廠商名稱</label>
                                <input type="text" class="form-control" name="firmName">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>廠商負責人</label>
                                <input type="text" class="form-control" name="personIC">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>廠商電話</label>
                                <input type="text" class="form-control" name="phoneNo">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>廠商地址</label>
                                <input type="text" class="form-control" name="address">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <input type="submit" value="送出&raquo;" />
            </form>
            </div>
            <div class=col-lg-4>
                <h2>廠商B</h2>
                <p style="color:red"><%=statusB %></p>
                <form action="/add/bcom" method="POST" novalidate>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>馬達型號</label>
                            <input type="text" class="form-control" name="pumpId">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>馬達用途</label>
                            <input type="text" class="form-control" name="pumpUsage">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>馬達數量</label>
                            <input type="text" class="form-control" name="pumpQuantity">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>馬達流量</label>
                            <input type="text" class="form-control" name="pumpFlow">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>馬達形式</label>
                        <input type="text" class="form-control" name="pumpType">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>馬達類型</label>
                            <input type="text" class="form-control" name="pumpCategory">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>廠商名稱</label>
                            <input type="text" class="form-control" name="firmName">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>廠商負責人</label>
                            <input type="text" class="form-control" name="personIC">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>廠商電話</label>
                            <input type="text" class="form-control" name="phoneNo">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>廠商地址</label>
                            <input type="text" class="form-control" name="address">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <input type="submit" value="送出&raquo;" />
        </form>
        </div>
            </div>
