<% include ./header %>

    <form action="/query/module" method="POST" novalidate>
        <div class=row>
            <div class=col-lg-4>
                <h2>模具</h2>
                <form>模具機型:
                    <select name="moduleId">
                        <% moduleList.forEach(function(module) { %>
                            <option>
                                <%= module.moduleId %>
                            </option>
                            <%  }); %>
                    </select>
                </form>
                <input type="submit" value="送出">

            </div>
        </div>
    </form>
    <form action="/query/acom" method="POST" novalidate>
      <div class=row>
          <div class=col-lg-4>
                  <h2>廠商A</h2>
                  <form>廠商名稱:
                      <select name="Aname">>
                          <% acomList.forEach(function(acompany) { %>
                              <option>
                                  <%= acompany.firmName %>
                              </option>
                              <%  }); %>
                      </select>
                  </form>
                  <input type="submit" value="送出">
          </div>
      </div>
    </form>
    <form action="/query/bcom" method="POST" novalidate>
      <div class=row>
          <div class=col-lg-4>
            <h2>廠商B</h2>
            <form>廠商名稱:
              <select name="Bname">>
                <% bcomList.forEach(function(bcompany) { %>
                  <option>
                      <%= bcompany.firmName %>
                  </option>
                <%  }); %>
              </select>
            </form>
            <input type="submit" value="送出">
          </div>
        </div>
    </form>
