<% include ./header %>
    <form action="/query/moduleResult" method="POST" novalidate>
        <div class=row>
            <div class=col-lg-4>
                <h2>模具</h2>
                <form>模具機型:
                    <select name="modulesID">
                        <% moduleList.forEach(function(module) { %>
                            <option>
                                <%= module.moduleId %>
                            </option>
                            <%  }); %>
                    </select>
                </form>
                <form>模具用途:
                    <select name="moduleUsage">
                        <% moduleList.forEach(function(module) { %>
                            <option>
                                <%= module.moduleUsage %>
                            </option>
                            <%  }); %>
                    </select>
                </form>
                <form>目前位置:
                    <select name="currentLocation">
                        <% moduleList.forEach(function(module) { %>
                            <option>
                                <%= module.currentLocation %>
                            </option>
                            <%  }); %>
                    </select>
                </form>
                <input type="submit" value="送出">
            </div>
    </form>
    <form action="/query/AcomResult" method="POST" novalidate>
        <div class=col-lg-4>
            <h2>廠商A</h2>
            <form>廠商名稱:
                <select name="Aname">>
                    <% moduleList.forEach(function(module) { %>
                        <option>
                            <%= module.currentLocation %>
                        </option>
                        <%  }); %>
                </select>
            </form>
            <form>負責人:
                <select name="person">
                    <option value="Taipei">請選擇</option>
                </select>
            </form>
            <form>零件代碼:
                <select name="componentId">
                    <option value="Taipei">請選擇</option>
                </select>
            </form>
            <form>零件名稱:
                <select name="componentName">
                    <option value="Taipei">請選擇</option>
                </select>
            </form>
            <form>借出時間:
                <select name="rentTime">
                    <option value="Taipei">請選擇</option>
                </select>
            </form>
            <form>歸還時間:
                <select name="returnTime">
                    <option value="Taipei">請選擇</option>
                </select>
            </form>
            <input type="submit" value="送出">
        </div>
    </form>
    <form action="/query/BcomResult" method="POST" novalidate>
        <div class=col-lg-4>
            <h2>廠商B</h2>
            <form>廠商名稱:
                <select name="bname">
                    <option value="Taipei">請選擇</option>
                </select>
            </form>
            <form>目前位置:
                <select name="location">
                    <option value="Taipei">請選擇</option>
                </select>
            </form>
            <form>馬達型號:
                <select name="returnTime">
                    <option value="Taipei">請選擇</option>
                </select>
            </form>
            <form>馬達用途:
                <select name="returnTime">
                    <option value="Taipei">請選擇</option>
                </select>
            </form>
            <form>馬達流量:
                <select name="returnTime">
                    <option value="Taipei">請選擇</option>
                </select>
            </form>
            <form>馬達形式:
                <select name="returnTime">
                    <option value="Taipei">請選擇</option>
                </select>
            </form>
            <form>馬達類型:
                <select name="returnTime">
                    <option value="Taipei">請選擇</option>
                </select>
            </form>
            <input type="submit" value="送出">
        </div>
        </div>
    </form>
