<% include ./header %>

            <div class=row>
                <div class=col-lg-4>
                    <h2>模具</h2>
                    <form>模具機型:
                        <select name="modules">
                            <option value="Taipei">請選擇</option>
                        </select>
                    </form>
                    <form>模具用途:
                        <select name="function">
                            <option value="Taipei">請選擇</option>
                        </select>
                    </form>
                    <form>目前位置:
                        <select name="location">
                            <option value="Taipei">請選擇</option>
                        </select>
                    </form>
                    <a class="btn btn-primary" href=# role=button>送出 &raquo;</a></div>
                <div class=col-lg-4>
                    <h2>廠商A</h2>
                    <form>廠商名稱:
                        <select name="name">
                            <option value="Taipei">請選擇</option>
                        </select>
                    </form>
                    <form>負責人:
                        <select name="person">
                            <option value="Taipei">請選擇</option>
                        </select>
                    </form>
                    <form>零件代碼:
                        <select name="component id">
                            <option value="Taipei">請選擇</option>
                        </select>
                    </form>
                    <form>零件名稱:
                        <select name="component name">
                            <option value="Taipei">請選擇</option>
                        </select>
                    </form>
                    <form>借出時間:
                        <select name="rent time">
                            <option value="Taipei">請選擇</option>
                        </select>
                    </form>
                    <form>歸還時間:
                        <select name="return time">
                            <option value="Taipei">請選擇</option>
                        </select>
                    </form>
                    <a class="btn btn-primary" href=# role=button>送出 &raquo;</a></div>
                <div class=col-lg-4>
                    <h2>廠商B</h2>
                    <form>廠商名稱:
                        <select name="bname">
                            <option value="Taipei">請選擇</option>
                        </select>
                    </form>
                    <form>目前位置:
                        <select name="location">
                            <option value="Taipei">請選擇</option>
                        </select>
                    </form>
                    <form>馬達型號:
                        <select name="return time">
                            <option value="Taipei">請選擇</option>
                        </select>
                    </form>
                    <form>馬達用途:
                        <select name="return time">
                            <option value="Taipei">請選擇</option>
                        </select>
                    </form>
                    <form>馬達流量:
                        <select name="return time">
                            <option value="Taipei">請選擇</option>
                        </select>
                    </form>
                    <form>馬達形式:
                        <select name="return time">
                            <option value="Taipei">請選擇</option>
                        </select>
                    </form>
                    <form>馬達類型:
                        <select name="return time">
                            <option value="Taipei">請選擇</option>
                        </select>
                    </form>
                    <a class="btn btn-primary" href=# role=button>送出 &raquo;</a></div>
            </div>
=======
<div class=row>
    <div class=col-lg-4>
        <h2>模具</h2>
        <form>模具機型:
            <select name="modules">
                <option value="Taipei">請選擇</option>
            </select>
        </form>
        <form>模具用途:
            <select name="function">
                <option value="Taipei">請選擇</option>
            </select>
        </form>
        <form>目前位置:
            <select name="location">
                <option value="Taipei">請選擇</option>
            </select>
        </form>
        <a class="btn btn-primary" href=# role=button>送出 &raquo;</a></div>
    <div class=col-lg-4>
        <h2>廠商A</h2>
        <form>廠商名稱:
            <select name="name">
                <option value="Taipei">請選擇</option>
            </select>
        </form>
        <form>負責人:
            <select name="person">
                <option value="Taipei">請選擇</option>
            </select>
        </form>
        <form>零件代碼:
            <select name="component id">
                <option value="Taipei">請選擇</option>
            </select>
        </form>
        <form>零件名稱:
            <select name="component name">
                <option value="Taipei">請選擇</option>
            </select>
        </form>
        <form>借出時間:
            <select name="rent time">
                <option value="Taipei">請選擇</option>
            </select>
        </form>
        <form>歸還時間:
            <select name="return time">
                <option value="Taipei">請選擇</option>
            </select>
        </form>
        <a class="btn btn-primary" href=# role=button>送出 &raquo;</a></div>
    <div class=col-lg-4>
        <h2>廠商B</h2>
        <form>廠商名稱:
            <select name="bname">
                <option value="Taipei">請選擇</option>
            </select>
        </form>
        <form>目前位置:
            <select name="location">
                <option value="Taipei">請選擇</option>
            </select>
        </form>
        <form>馬達型號:
            <select name="return time">
                <option value="Taipei">請選擇</option>
            </select>
        </form>
        <form>馬達用途:
            <select name="return time">
                <option value="Taipei">請選擇</option>
            </select>
        </form>
        <form>馬達流量:
            <select name="return time">
                <option value="Taipei">請選擇</option>
            </select>
        </form>
        <form>馬達形式:
            <select name="return time">
                <option value="Taipei">請選擇</option>
            </select>
        </form>
        <form>馬達類型:
            <select name="return time">
                <option value="Taipei">請選擇</option>
            </select>
        </form>
        <a class="btn btn-primary" href=# role=button>送出 &raquo;</a></div>
</div>
<footer class=footer>
    <p>&copy; Company 2014</footer>
</div>
>>>>>>> c2c55037f39561bbe405269580e6906c9ff83892
